<h1> Welcome to Your Fwitter!</h1>
<form method="post" action="/users/login">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

   <input type="submit">
</form>