<h2> Sign Up!</h2>
<form class="" action="/signup" method="post">
<label for="name"></label>
<h6>Name:</h6><input type="text" name="name" value="">
<label for="email"></label>
<input type="text" name="email" value="">
<label for="password"></label>
<input type="text" name="password" value="">
<input type="submit" name="" value="Create User">
</form>